{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-6">
        <h3 class="my-5">Créer une nouvelle To do</h3>
        {{ form(formTodo)}}
        </div>
    </div>
</div>
{% endblock %}